*
{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #88c1d0;
}

.float
{
    display: flex;
    width: 45%;
    height: auto;
}

img
{
    width: 300px;
    height: auto;
    margin-top: 100px;
}

h1
{
    margin: 0;
    font-size: 300px;
    color: #ffca4b;
    text-shadow: -8px 0 #275fa0, 0 8px #275fa0, 8px 0 #275fa0, 0 -8px #275fa0; 
}

p
{
    color: #275fa0;
    font-size: 25px;
    font-weight: bold;
}

button
{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
    background-color: #ffca4b; /*orange*/
    cursor: pointer;
    border: 4px solid #275fa0;
}

button:hover
{
    letter-spacing:5px;
}

a
{
    text-decoration: none;
    background-color: #ffca4b;
}














