* {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #88c1d0;
    margin: 0;
    padding: 0;
}

header {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    height: 52px;
    background-color: #f3f3f3;
}

img {
    width: 230px;
    height: 30px;
    margin-top: 10px;
    margin-left: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right: 2px solid #d4d1d1;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #f3f3f3;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

h1 {
    margin: 0;
    font-size: 300px;
    color: rgb(253, 198, 97);
    text-shadow: -8px 0 #275fa0, 0 8px #275fa0, 8px 0 #275fa0, 0 -8px #275fa0;
}

.div404 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.zero {
    width: 300px;
    height: 350px;
    margin-top: 50px;
}

.divtext {
    color: #275fa0;
    font-weight: bold;
    font-size: 25px;
}

p {
    text-align: center;
}

footer {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}